{
  "presets": [
    "@babel/preset-typescript",
    "@babel/preset-react",
    [
      "env",
      {
        "modules": false
      }
    ]
  ],
  "plugins": [["transform-class-properties"]],
  "env": {
    "commonjs": {
      "presets": [
        [
          "env",
          {
            "modules": "commonjs"
          }
        ]
      ],
      "plugins": [["transform-class-properties"]]
    }
  }
}
